version: 2

updates:
  - package-ecosystem: 'bun'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '06:00'
    open-pull-requests-limit: 5
    commit-message:
      prefix: 'chore'
      include: 'scope'
    labels:
      - 'dependencies'
    reviewers:
      - 'dcog989'
    groups:
      typescript:
        patterns:
          - 'typescript'
          - '@types/*'
          - 'typescript-eslint'
      eslint:
        patterns:
          - 'eslint'
          - 'eslint-*'
      test:
        patterns:
          - '@vscode/test-*'
          - 'mocha'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: 'ci'
      include: 'scope'
    labels:
      - 'ci'
      - 'dependencies'
