.assets
.benchmark-results/
.cache
.context
.docs
.DS_Store
.env.local
.eslintcache
.repomixignore
.scripts/
.temp
.tests
.vite
.vscode-test
*.bak
*.dll
*.exe
*.log
**/.vscode-test/
coverage
dist
jspm_packages
lib-cov
logs
node_modules/
obj
out
pids
repomix.*.json
target
Thumbs.db
vendor
venv
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
