.assets/
.benchmark-results/
.cache/
.context/
.docs/
.DS_Store/
.eslintcache
.repomixignore
.scripts/
.svelte-kit/
.temp/
.tests/
.vscode-test/
*.bak
*.log
*.vsix
**/.vscode-test/
build/
dist/
jspm_packages
lib-cov
logs/
node_modules/
obj
out/
pids
repomix.*.json
target/
Thumbs.db
vendor
venv
