# ---------------------------------------------------------
# Exclude
# ---------------------------------------------------------
.ai/
.assets/
.docs/
.eslintrc.json
.git/
.github/
.gitignore
.repomixignore
.scripts/
.test/
.vscode-test/
.vscode/
.yarnrc
**/*.map
**/*.ts
**/*.tsbuildinfo
assets/
coverage/
esbuild.config.js
node_modules/
out/
repomix.config.json
src/
tests/
tsconfig.json
vitest.config.ts
vsc-extension-quickstart.md

# ---------------------------------------------------------
# Include
# ---------------------------------------------------------
!dist/
!dist/extension.js
!package.json
!README.md
!assets/icon.png
